<!DOCTYPE HTML>
<html>
<head>
    <script>
        function processMessages(e) {
            if (e.origin == 'http://shindig.epfl.ch') {
                alert("At the child: " + e.data);
            }
        }

        function init() {
            window.addEventListener('message', processMessages, false);
        }

        function clickName() {
            window.parent.postMessage("hola", "http://shindig.epfl.ch");
        }
    </script>
</head>
<body onload="init();">
Hi there, <span onclick="clickName()">{{ name }}</span>.
</body>
</html>
